<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Charades</title>


    <link rel="stylesheet" href="main.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="main.js"></script>

    <body>

        <h1>Charades</h1>
        <p><strong>Rules:</strong> Split players into two balanced teams. Younger players may pick from the Level 1 category. Have one of the teams call "Heads" or "Tails" to determine who goes first. Flip the coin! Each actor will have 90 seconds to act out the image or word on the card. If the team guesses correctly, advance the team score by one. First team to reach 10 points, wins!  Each team alternates actors after each turn. No noises, mouthing words, or writing words in the air. Also, no clapping, slapping, hitting, kicking, or crying...Freddy. Play on, Players!</p>


        <button id='coin' onclick='flip()'><b>Coin Flip</b></button>

        <div class="button pulse">
            <ul class="cards">
                <div class="col1">
                    <h2>Level 1</h2>
                    <li>
                        <button class='button' id='an' onclick="randomAnimal()"><img id="pic" src="images/animals.jpg" />Animals</button>
                    </li>
                    <li>
                        <button class='button' id='psn' onclick="randomPerson()">People</button>
                    </li>
                </div>

                <div class="col2">
                    <h2>Level 2</h2>
                    <li>
                        <button class='button' id='fp' onclick="randomFamousPeople()">Famous People</button>
                    </li>
                    <li>
                        <button class='button' id='ph' onclick="randomPhrases()">Phrases</button>
                    </li>
                </div>
            </ul>
        </div>



        <div class="container" ng-app="">
            <div class="team1">
                <h3>Team 1</h3>
                <label>Names: </label>
                <input type="text" ng-model='firstName' placeholder="Who's on your team?">
                <p ng-bind="firstName"></p>
                <button class="circle" onclick="minusOneL()">-</button>
                <span id="changeL">0</span>
                <button class="circle" onclick="plusOneL()">+</button>
            </div>
<!-->
<timer interval="1000" countdown="130" ng-model = "countdown" class = "ng-binding ng-isolate-scope"><span class ="ng-binding ng-scope" ng-bind = "countdown">{{countdown}}</span></timer> 
<!-->
            <div class='team2'>
                <h3>Team 2</h3>
                <label>Names: </label>
                <input type="text" ng-model="firstName2" placeholder="Who's on your team?">
                <p ng-bind="firstName2"></p>
                <button class="circle" onclick="minusOneR()">-</button>
                <span id="changeR">0</span>
                <button class="circle" onclick="plusOneR()">+</button>


            </div>
        </div>
    </body>
    <footer>Thanks for playing!</footer>