-/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: #B0C4DE;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}

h1 {
 font-size: 60px;
 text-align: center;
}

p{
  font: 17px 
 
}

h2{
  font: 35px; 
  display: inline;
  margin-left: 50px;
  padding: 40px;
 
}

h3{
  font: 20px;
  display: inline-block;
  margin: auto;
  
}

#coin {
  font: bold 18px "Baskerville", sans-serif;
  color: #5C4033;
  padding: 5px;
  width: 80px;
  height:80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  background: radial-gradient(#CD7F32,#5C4033);
  border: 5px dotted #aa7333;
  text-align: center;
  margin: auto;
 
}
#coin:hover{
  background: radial-gradient(#aa7333,#5C4033);
  border: 5px dotted #CD7F32;
 }
 


 

.button{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #838282;
  text-shadow: .5px .5px 1px;
  font: 26px "Trebuchet MS";
  
}

.button:hover {
  
  animation: pulse .4s ease ;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.button li {
  list-style-type: none;
  float:left;
  margin-left: 30px;
}

#an {
  width: 120px;
  height: 200px;
  border: 7px solid purple;
  background: rgb(234,207,247); 
  background: -moz-linear-gradient(-45deg, rgba(234,207,247,1) 0%, rgba(190,115,231,1) 24%,rgba(143,10,214,1) 50%, rgba(175,83,225,1) 79%, rgba(200,136,234,1) 100%); 
background: -webkit-linear-gradient(-45deg, rgba(234,207,247,1) 0%,rgba(190,115,231,1) 24%,rgba(143,10,214,1) 50%,rgba(175,83,225,1) 79%,rgba(200,136,234,1) 100%); 
background: linear-gradient(135deg, rgba(234,207,247,1) 0%,rgba(190,115,231,1) 24%,rgba(143,10,214,1) 50%,rgba(175,83,225,1) 79%,rgba(200,136,234,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eacff7', endColorstr='#c888ea',GradientType=1 ); 
 
}

#psn {
  width: 120px;
  height: 200px;
  border: 7px solid  #228B22;
  background: rgb(208,246,209);
background: -moz-linear-gradient(-45deg, rgba(208,246,209,1) 0%, rgba(116,230,118,1) 24%, rgba(12,212,16,1) 50%, rgba(85,223,87,1) 79%, rgba(137,233,139,1) 100%); 
background: -webkit-linear-gradient(-45deg, rgba(208,246,209,1) 0%,rgba(116,230,118,1) 24%,rgba(12,212,16,1) 50%,rgba(85,223,87,1) 79%,rgba(137,233,139,1) 100%);  */
background: linear-gradient(135deg, rgba(208,246,209,1) 0%,rgba(116,230,118,1) 24%,rgba(12,212,16,1) 50%,rgba(85,223,87,1) 79%,rgba(137,233,139,1) 100%); 
}

#fp {
  width: 120px;
  height: 200px;
  border: 7px solid #C71585;
  background: rgb(248,214,229);
background: -moz-linear-gradient(-45deg, rgba(248,214,229,1) 0%, rgba(235,133,181,1) 24%, rgba(244,20,125,1) 50%, rgba(230,106,164,1) 79%, rgba(238,152,192,1) 100%); 
background: -webkit-linear-gradient(-45deg, rgba(248,214,229,1) 0%,rgba(235,133,181,1) 24%,rgba(244,20,125,1) 50%,rgba(230,106,164,1) 79%,rgba(238,152,192,1) 100%); 
background: linear-gradient(135deg, rgba(248,214,229,1) 0%,rgba(235,133,181,1) 24%,rgba(244,20,125,1) 50%,rgba(230,106,164,1) 79%,rgba(238,152,192,1) 100%); 
}

#ph{
  width: 120px;
  height: 200px;
  border: 7px solid #FFD700;
  background: rgb(254,246,188);
background: -moz-linear-gradient(-45deg, rgba(254,246,188,1) 0%, rgba(253,237,127,1) 24%, rgba(254,228,58,1) 50%, rgba(253,233,105,1) 76%, rgba(253,238,141,1) 100%); 
background: -webkit-linear-gradient(-45deg, rgba(254,246,188,1) 0%,rgba(253,237,127,1) 24%,rgba(254,228,58,1) 50%,rgba(253,233,105,1) 76%,rgba(253,238,141,1) 100%); 
background: linear-gradient(135deg, rgba(254,246,188,1) 0%,rgba(253,237,127,1) 24%,rgba(254,228,58,1) 50%,rgba(253,233,105,1) 76%,rgba(253,238,141,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef6bc', endColorstr='#fdee8d',GradientType=1 ); 

}



.circle{
  display: inline;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  font: 30px "Treubuchet MS", sans-serif;
  border: 4px solid #003399;
}

.circle:hover{
  border: 4px solid #0033FF;
  background-color: #F0F0F0;
}

.team1 {
  float: left;
}

.team2 {
  float:right;
}

#timer-beep {
  position: absolute;
  top: -100000em;
}

footer {
  margin-top: 400px;
  font: 18px sans-serif;
  
 
 
 /*
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * Hover.css Copyright Ian Lunn 2014.
 */
